<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sd="http://www.w3.org/1999/xhtml"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>lista users</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>lista users</h1>
    </div>
    <div class="box-body">

        <!--div class="row">
            <div class="col-md-6 text-nowrap">
                <div id="dataTable_length" class="dataTables_length" aria-controls="dataTable">
                    <label class="form-label">Ver&nbsp;<select class="d-inline-block form-select form-select-sm">
                    <option value="10" selected="">10</option>
                    <option value="25">25</option>
                    <option value="50">50</option>
                    <option value="100">100</option>
                </select>&nbsp;</label></div>
            </div>
            <div class="col-md-6">
                <div class="text-md-end dataTables_filter" id="dataTable_filter"><label class="form-label"><input type="search" class="form-control form-control-sm" aria-controls="dataTable" placeholder="Search"></label></div>
            </div>
        </div-->
        Show <span sd:page-size-selector="javascript"></span> entries


        <table>
            <tr th:each="elemento , posicion : ${listausuarios}">
                <td th:text="${elemento.email}"></td>
                <td th:text="${elemento.nombre}"></td>
                <td th:text="${elemento.username}"></td>

            </tr>
        </table>

            <!--span th:text="${pageNumber} "></span>
            <span th:text="${listausuarios.number + 1} "></span>
            <span th:text="${pageNumber==listausuarios.number + 1} "></span>
            <span th:text="${${listausuarios.size} + ','+ ${pageNumbers - 1}}"></span-->
     </div>

    <div class="row">
        <div class="col-md-6">
            <nav class="d-lg-flex justify-content-lg-end dataTables_paginate paging_simple_numbers">
                <ul class="pagination" sd:pagination="full">
                    <li class="page-item disabled">
                        <a class="page-link" aria-label="Previous" href="#"
                           >
                            <span aria-hidden="true">«</span>
                        </a>
                    </li>
                    <li th:class="${pageNumber==listausuarios.number + 1} ? active" th:each="pageNumber : ${pageNumbers}">
                        <a class="page-link" href="#"
                           th:href="@{/usuarios/lista(size=${listausuarios.size}, page=${pageNumber})}">
                            <span th:text="${pageNumber}"></span>
                            </a>
                    </li>
                    <li class="page-item">
                        <a class="page-link" aria-label="Next" href="#"

                        >
                        <span aria-hidden="true">»</span></a></li>
                </ul>
            </nav>
        </div>
    </div>
    <!--div class="row">
        <div class="col-sm-6">
            <div sd:pagination-summary="">info</div>
        </div>
        <div class="col-sm-6">
            <nav class="pull-right">
                <ul class="pagination" sd:pagination-split="7" sd:pagination="full">
                    < Pagination created by SpringDataDialect, this content is just for mockup >
                    <li class="disabled"><a href="#" aria-label="Previous"><span aria-hidden="true">&laquo;</span></a></li>
                    <li class="active"><a href="#">1 <span class="sr-only">(current)</span></a></li>
                </ul>
            </nav>
        </div>
    </div-->

</div>
</body>
</html>