<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Usuarios busque</title>

</head>
<body>
<table>
    <thead>
    <tr>
        <th>Nombre</th>
        <th>Apellido</th>
        <th>Email</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="usuario : ${usuarios}">
        <td th:text="${usuario.nombre}"></td>
        <td th:text="${usuario.apellido1}"></td>
        <td th:text="${usuario.apellido2}"></td>
        <td th:text="${usuario.email}"></td>
    </tr>
    </tbody>
</table>
</body>
</html>