<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>ejercicios2</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>ejercicios2</h1>
    </div>

<!--  CONTENIDO AQUI -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Grupo</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entidad : ${ejercicios}">
            <td th:text="${entidad.id}"></td>
            <td th:text="${entidad.nombre}"></td>
            <td th:text="${entidad.grupo_muscular}"></td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>