<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Ejercicios</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>Ejercicios</h1>
    </div>
    <div>
        <a  th:href="@{/ejercicios/nuevo}" >
            Nuevo </a>
    </div>

    <!--  CONTENIDO AQUI -->
    <table>
        <thead>
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Grupo</th>
            <th>Mascara generacion</th>
            <th>video</th>
            <th></th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entidad : ${ejercicios}">
            <td th:text="${entidad.id}"></td>
            <td th:text="${entidad.nombre}"></td>
            <td th:text="${entidad.descripcion}"></td>
            <td th:text="${entidad.grupo_muscular}"></td>
            <td th:text="${entidad.mascara_gen_progresion}"></td>
            <td >
                <a  th:href="${entidad.url}" >
                    VIDEO       </a>
            </td>
            <td>
                <a  th:href="@{/ejercicios/{id}(id=${entidad.id})}" >
                    IR </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>