<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>mesociclo</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>Plantillas rutinas: Ejercicios</h1>
    </div>
    <div th:each="ejercicio : ${ejercicio}">
        <h2>Ejercicio</h2>
        <table class="table">
            <thead class="table-warning">
            <tr>
                <th>ID</th>
                <th>descanso_esp</th>
                <th>nombre_ej</th>
                <th>descripcion</th>
                <th>modific_periodizacion</th>
            </tr>
            </thead>
            <tbody class="table-warning">
            <td th:text="${ejercicio.id}"></td>
            <td th:text="${ejercicio.descanso_esp}"></td>
            <td th:text="${ejercicio.nombre_ej}"></td>
            <td th:text="${ejercicio.descripcion}">
            <td th:text="${ejercicio.modific_periodizacion}"></td>
            <td>
                <a  th:href="@{/plantillas/ejercicio/{id}(id=${ejercicio.id})}" >
                    IR </a>
            </td>
            </tr>
            </tbody>
        </table>
        <div th:each="serie : ${ejercicio.plantillaSerie}">
            <h2>Serie</h2>
            <table class="table">
                <thead class="table-secondary">
                <tr>
                    <th>ID</th>
                    <th>carga</th>
                    <th>repes</th>
                </tr>
                </thead>
                <tbody class="table-secondary">
                <td th:text="${serie.id}"></td>
                <td th:text="${serie.carga}"></td>
                <td th:text="${serie.repes}"></td>
                <td>
                    <a  th:href="@{/plantillas/serie/{id}(id=${serie.id})}" >
                        IR </a>
                </td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>