<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>ejercicio</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>ejercicio</h1>
    </div>
    <div>
        EJForm
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>descripc</th>
                <th>nombre</th>
                <th>modif</th>
                <th>n plant sesion</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entidad : ${ej}">
                <td th:text="${entidad.id}"></td>
                <td th:text="${entidad.descripcion}"></td>
                <td th:text="${entidad.nombre_ej}"></td>
                <td th:text="${entidad.getModific_periodizacion()}"></td>
                <td th:text="${entidad.getPlantillaSesion().id}"></td>
            </tr>
            </tbody>
        </table>
    </div>

</div>
</body>
</html>