<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Plantillas</title>

</head>
<body>

<div layout:fragment="content">

    <div class="pagetitle">
        <h1>Plantillas</h1>
    </div><!-- End Page Title -->
    <!--div><a  th:href="@{/menu}" >
        menu</a></div>
    <div><a  th:href="@{/menu/2}" >
        menu2 </a></div>
    <div><a  th:href="@{/menu/3}" >
        menu3 </a></div>

    <div><a  href='/login' >
        login</a></div>
    <div><a  href='/crearUsuario' >
        crear usuario</a></div>
    <div><a  href='/nuevoUsuario' >
        nuevo usuario</a></div>
    <div><a  href='/tutoriales' >
        tutoriales</a></div-->
    <div class="mb-3">
        <a class="btn btn-info btn-lg"
           role="button" href="#">CREAR</a>
    </div>
    <div class="mb-3">
        <a class="btn btn-info btn-lg"
           role="button" th:href="@{/plantillas/meso}">MODIFICAR</a>
    </div>


</div>

</body>
</html>