<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title th:text="'Plantilla '+${meso.get().getId()}">mesoId</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1 th:text="'Plantilla '+${meso.get().getId()}">MesoID</h1>
    </div>
    <div><a  th:href="@{/plantillas/meso}" >
        Volver </a></div>
<!--  CONTENIDO AQUI -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>idMeso</th>
            <th>Fecha inic</th>
            <th>Fecha fin</th>
            <th>num microc</th>
            <th>long microc</th>
            <th>descanso aces</th>
            <th>descanso Bas</th>
            <th>descripc</th>
            <th>Usuario ID</th>
            <th>Id Mesociclo</th>

        </tr>
        </thead>
        <tbody>
        <tr>
            <td th:text="${meso.get().getId()}"></td>
            <td th:text="${meso.get().getIdMesociclos()}"></td>
            <td th:text="${meso.get().getFechaInicio()}"></td>
            <td th:text="${meso.get().getFechaFin()}"></td>
            <td th:text="${meso.get().getNumMicrociclos()}"></td>
            <td th:text="${meso.get().getLongMicrociclo()}"></td>
            <td th:text="${meso.get().getDescansoAcces()}"></td>
            <td th:text="${meso.get().getDescansoBas()}"></td>
            <td th:text="${meso.get().getDescripcion()}"></td>
            <td th:text="${meso.get().usuario.id}"></td>
            <td th:text="${meso.get().idMesociclos}"></td>
        </tr>
        <tr>
            <td colspan="100%">
                <table class="table table-bordered">
                    <thead>
                    <tr>
                        <th>ID Micro</th>
                        <th>volu</th>
                        <th>intens</th>
                        <th>plantilla meso</th>
                    </tr>
                    </thead>
                </table>
                <table class="table table-bordered" th:each="micro : ${micro}" th:if="${micro.getPlantillaMesociclo().id}==${meso.get().getId()}">

                    <tbody>
                    <tr  >
                        <td th:text="${micro.id}"></td>
                        <td th:text="${micro.getVolumenEstandar()}"></td>
                        <td th:text="${micro.getIntensidadEstandar()}"></td>
                        <td th:text="${micro.getPlantillaMesociclo().id}"></td>
                    </tr>
                    <tr>
                        <td colspan="100%">
                            <table class="table table-bordered">
                                <thead>
                                <tr>
                                    <th>ID Sesion</th>
                                    <th>descripc</th>
                                    <th>n plant Micro</th>
                                </tr>
                                </thead>
                            </table>
                            <table class="table table-bordered" th:each="sesion : ${sesion}" th:if="${sesion.getPlantillaMicrociclo().id}==${micro.id}">

                                <tbody>
                                <tr >
                                    <td th:text="${sesion.id}"></td>
                                    <td th:text="${sesion.descripcion}"></td>
                                    <td th:text="${sesion.getPlantillaMicrociclo().id}"></td>
                                </tr>
                                <tr>
                                    <td colspan="100%">
                                        <table class="table table-bordered">
                                            <thead>
                                            <tr>
                                                <th>ID EJErcicio</th>
                                                <th>descripc</th>
                                                <th>nombre</th>
                                                <th>modif</th>
                                                <th>n plant sesion</th>
                                            </tr>
                                            </thead>
                                        </table>
                                        <table class="table table-bordered" th:each="ejercicio : ${ej}" th:if="${ejercicio.getPlantillaSesion().id}==${sesion.id}">
                                            <tbody>
                                            <tr >
                                                <td th:text="${ejercicio.id}"></td>
                                                <td th:text="${ejercicio.descripcion}"></td>
                                                <td th:text="${ejercicio.nombre_ej}"></td>
                                                <td th:text="${ejercicio.getModific_periodizacion()}"></td>
                                                <td th:text="${ejercicio.getPlantillaSesion().id}"></td>
                                            </tr>
                                            <tr>
                                                <td colspan="100%">
                                                    <table class="table table-bordered">
                                                        <thead>
                                                        <tr>
                                                            <th>ID serie</th>
                                                            <th>carga</th>
                                                            <th>mod INT</th>
                                                            <th>mod vis</th>
                                                            <th>repes</th>
                                                            <th>n plant EJF</th>
                                                        </tr>
                                                        </thead>
                                                    </table>
                                                    <table class="table table-bordered" th:each="serie : ${serie}" th:if="${ejercicio.id}==${serie.plantillaEjercicioFormulado.id}">
                                                        <tbody>
                                                        <tr >
                                                            <td th:text="${serie.id}"></td>
                                                            <td th:text="${serie.carga}"></td>
                                                            <td th:text="${serie.modifInterna}"></td>
                                                            <td th:text="${serie.modifVis}"></td>
                                                            <td th:text="${serie.repes}"></td>
                                                            <td th:text="${serie.plantillaEjercicioFormulado.id}"></td>
                                                        </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                            </tbody>
                                        </table>
                                    </td>
                                </tr>
                                </tbody>
                            </table>

                        </td>
                    </tr>
                    </tbody>
                </table>


            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>