<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>mesociclo</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>mesociclo</h1>
    </div>

<!--  CONTENIDO AQUI -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>usuario</th>
            <th>nummicro</th>
            <th>longmicro</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entidad : ${meso}">
            <td th:text="${entidad.id}"></td>
            <td th:text="${entidad.usuario}"></td>
            <td th:text="${entidad.getNumMicrociclos()}"></td>
            <td th:text="${entidad.getLongMicrociclo()}"></td>
            <td>
                <a  th:href="@{/plantillas/meso/{id}(id=${entidad.id})}" >
                    IR </a>
            </td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>