<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>microciclo</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>microciclo</h1>
    </div>
    <div>
        sesion
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>INt Est</th>
                <th>V Est</th>
                <th>P meso id</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entidad : ${micro}">
                <td th:text="${entidad.id}"></td>
                <td th:text="${entidad.intensidadEstandar}"></td>
                <td th:text="${entidad.volumenEstandar}"></td>
                <td th:text="${entidad.plantillaMesociclo.id}"></td>
            </tr>
            </tbody>
        </table>
    </div>


</div>
</body>
</html>