<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>serie</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>serie</h1>
    </div>
    <div>
        serie
        <table class="table table-bordered">
            <thead>
            <tr>
                <th>ID</th>
                <th>carga</th>
                <th>mod INT</th>
                <th>mod vis</th>
                <th>repes</th>
                <th>n plant EJF</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="entidad : ${serie}">
                <td th:text="${entidad.id}"></td>
                <td th:text="${entidad.carga}"></td>
                <td th:text="${entidad.modifInterna}"></td>
                <td th:text="${entidad.modifVis}"></td>
                <td th:text="${entidad.repes}"></td>
                <td th:text="${entidad.plantillaEjercicioFormulado.id}"></td>
            </tr>
            </tbody>
        </table>
    </div>
<!--  CONTENIDO AQUI -->



</div>
</body>
</html>