<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>sesion</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>sesiom</h1>
    </div>

    <!--  CONTENIDO AQUI -->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>ID</th>
            <th>descripc</th>
            <th>n plant Micro</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="entidad : ${sesion}">
            <td th:text="${entidad.id}"></td>
            <td th:text="${entidad.descripcion}"></td>
            <td th:text="${entidad.getPlantillaMicrociclo().id}"></td>
        </tr>
        </tbody>
    </table>


</div>
</body>
</html>