<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>crear</title>
</head>
<body>
  crearrutina
  <ul>
    <li th:each="pmeso:${pmesos}" th:text="${pmeso.descripcion}"></li>
  </ul>
<span th:text="${meso}"></span>
<form th:object="${meso}" th:action="@{/programa/crearrutina}" method="post">
<!--    <input type="number" th:field="*{id}" th:value="${id}">-->
<!--    <input type="number" th:field="*{id_usuario}" th:value="${id}">-->
    <label for="descripcion">Descripcion:</label>
    <select name="descripcion" id="descripcion">
        <option th:each="pmeso: ${pmesos}" th:text="${pmeso.descripcion}" th:value="${pmeso.descripcion}"></option>
    </select>
    <button type="submit" class="btn btn-primary">Crear</button>
</form>
</body>
</html>