<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Menu</title>
</head>

<body>

<div layout:fragment="content">

    <div class="pagetitle">
        <h1>Prueba menu</h1>
    </div><!-- End Page Title -->
    <!--div class="container" th:insert="${fragmentName} :: ${fragmentName}(dataObject==${dataObject})">
    </div-->
    <table class="table table-bordered">
        <thead>
        <tr>
            <th>Id</th>
            <th>Nombre</th>
            <th>url</th>
            <th>idOrden</th>
            <th>icon</th>
            <th>activo</th>
            <th>idPadre</th>

        </tr>
        </thead>
        <tbody>
        <tr th:each="dataObject : ${dataObject}">
            <td th:text="${dataObject.id}"></td>
            <td th:text="${dataObject.nombre}"></td>
            <td th:text="${dataObject.url}"></td>
            <td th:text="${dataObject.orden}"></td>
            <td th:text="${dataObject.icon}"></td>
            <td th:text="${dataObject.activo}"></td>
            <td th:text="${dataObject.padre}"></td>

        </tr>
        </tbody>
    </table>
    <!--span th:text="${prueba.getAuthentication()}">
    </span>
    <br>

    sig
    <br>

    <span th:text="${prueba.getAuthentication().principal}">
    </span-->

</div>
</body>
</html>