<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<head>
    <title>indere</title>

</head>
<body>

<div layout:fragment="content">

    <div class="pagetitle">
        <h1>MenuIndere</h1>
    </div>

    <nav>
        <ul>
            <li th:each="dataObject : ${dataObject}" th:if="${dataObject.padre!=null} and ${dataObject.padre.id==9999}" th:text="${dataObject.nombre}"></li>

             </ul>


    </nav>
nav2
    <nav>
        <ul>
            <li th:each="Menu : ${dataObject}" th:if="${Menu.padre!=null} and ${Menu.hijos==1} " >
                <span th:text="${Menu.nombre}"></span>

                    <ul>
                        <li th:each="menuhijo : ${dataObject}" th:if="${menuhijo.padre!=null} and ${menuhijo.padre.id==Menu.id} " >
                        <span th:text="${menuhijo.nombre}"></span>
                        </li>
                    </ul>
            </li>
            <li th:each="Menu : ${dataObject}" th:if="${Menu.padre!=null} and ${Menu.hijos!=1} " >
                <span th:text="${Menu.nombre}"></span>

            </li>
        </ul>


    </nav>
nav3
    <nav>
        <ul>
            <li th:each="dataObject : ${dataObject}" th:if="${dataObject.padre!=null} and ${dataObject.padre.id==9999}" > Dogs
                <ul>
                    <li> Siberian Husky </li>
                    <li> German Shepherd </li>
                </ul>
            </li>

            <li> Cats </li>
            <li> Hamster </li>
        </ul>
    </nav>




</div>
</body>
</html>