<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<head>
    <title>indere</title>
</head>
<body>

<div layout:fragment="content">

    <div class="pagetitle">
        <h1>MenuIndere</h1>
    </div>
    nav1
    <nav>
        <ul>
            <li th:each="Menu : ${dataObject}" th:if="${Menu.padre!=null} and ${Menu.hijos==1} " >
                <a class="nav-link "
                   th:href="${Menu.url}">
                    <i th:class="${Menu.icon}"></i>
                    <span th:text="${Menu.nombre}"> </span>
                </a>
                <ul>
                    <li th:each="menuhijo : ${dataObject}" th:if="${menuhijo.padre!=null} and ${menuhijo.padre.id==Menu.id} " >
                        <a class="nav-link "
                           th:href="${menuhijo.url}">
                            <i th:class="${menuhijo.icon}"></i>
                            <span th:text="${menuhijo.nombre}"> </span>
                        </a>
                    </li>
                </ul>
            </li>
            <li th:each="Menu : ${dataObject}" th:if="${Menu.padre!=null} and ${Menu.hijos!=1} " >
                <a class="nav-link "
                   th:href="${Menu.url}">
                    <i th:class="${Menu.icon}"></i>
                    <span th:text="${Menu.nombre}"> </span>
                </a>
            </li>
        </ul>
    </nav>
nav2
    <nav>
        <ul >
            <li class="nav-item" th:each="Menu : ${dataObject}" th:if="${Menu.padre!=null} and ${Menu.hijos!=1} and ${Menu.eshijo==0} " >
                <a class="nav-link "
                   th:href="${Menu.url}">
                    <i th:class="${Menu.icon}"></i>
                    <span th:text="${Menu.nombre}"> </span>
                </a>
            </li>
            <li class="nav-item" th:each="Menu : ${dataObject}" th:if="${Menu.padre!=null} and ${Menu.hijos==1} " >
                <a class="nav-link "
                   th:href="${Menu.url}">
                    <i th:class="${Menu.icon}"></i>
                    <span th:text="${Menu.nombre}"> </span>
                </a>
                <ul>
                    <li class="nav-item" th:each="menuhijo : ${dataObject}" th:if="${menuhijo.padre!=null} and ${menuhijo.padre.id==Menu.id} " >
                        <a class="nav-link "
                           th:href="${menuhijo.url}">
                            <i th:class="${menuhijo.icon}"></i>
                            <span th:text="${menuhijo.nombre}"> </span>
                        </a>
                    </li>
                </ul>
            </li>

        </ul>
    </nav>



</div>
</body>
</html>