<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="UTF-8">
    <title>reorg menu</title>
</head>
<body>
reoerg menus
<div><span th:text="${logeduser.username}"></span></div>
lkns
<div>
    <ul class="navbar-nav text-light " id="accordionSidebar">
        <li class="nav-item" th:each="Menu : ${dataObject}" >
            <div th:if="${Menu.padre!=null} and ${Menu.hijos!=1} and ${Menu.eshijo==0}" >
            <a class="nav-link "
               th:href="${Menu.url}">
                <i th:class="${Menu.icon}"></i>
                <span th:text="${Menu.nombre}"> </span>
            </a> </div>
            <div th:if="${Menu.padre!=null} and ${Menu.hijos==1} ">


                <a class="nav-link dropdown-toggle"
                   th:href="${Menu.url}"
                   id="navbarDarkDropdownMenuLink" role="button"
                   data-bs-toggle="dropdown" aria-expanded="false">
                    <i th:class="${Menu.icon}"></i>
                    <span th:text="${Menu.nombre}"> </span>
                </a>

                <ul class="dropdown-menu dropdown-menu-dark text-light " aria-labelledby="navbarDarkDropdownMenuLink">
                    <li class="dropdown-item " th:each="menuhijo : ${dataObject}" th:if="${menuhijo.padre!=null} and ${menuhijo.padre.id==Menu.id} " >
                        <a class="nav-link "
                           th:href="${menuhijo.url}">
                            <i th:class="${menuhijo.icon}"></i>
                            <span th:text="${menuhijo.nombre}"> </span>
                        </a>
                    </li>
                </ul>
            </div>
        </li>
<!--        <li class="nav-item dropdown" th:each="Menu : ${dataObject}"  >-->
<!--            <div th:if="${Menu.padre!=null} and ${Menu.hijos==1} ">-->
<!--                -->
<!--            -->
<!--            <a class="nav-link dropdown-toggle"-->
<!--               th:href="${Menu.url}"-->
<!--               id="navbarDarkDropdownMenuLink" role="button"-->
<!--               data-bs-toggle="dropdown" aria-expanded="false">-->
<!--                <i th:class="${Menu.icon}"></i>-->
<!--                <span th:text="${Menu.nombre}"> </span>-->
<!--            </a>-->

<!--            <ul class="dropdown-menu dropdown-menu-dark text-light " aria-labelledby="navbarDarkDropdownMenuLink">-->
<!--                <li class="dropdown-item " th:each="menuhijo : ${dataObject}" th:if="${menuhijo.padre!=null} and ${menuhijo.padre.id==Menu.id} " >-->
<!--                    <a class="nav-link "-->
<!--                       th:href="${menuhijo.url}">-->
<!--                        <i th:class="${menuhijo.icon}"></i>-->
<!--                        <span th:text="${menuhijo.nombre}"> </span>-->
<!--                    </a>-->
<!--                </li>-->
<!--            </ul>-->

<!--            </div>-->
<!--        </li>-->

    </ul>
</div>
</body>
</html>