<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>FAQ</title>
</head>
<body>
<div layout:fragment="content">



    <h1 class="text-center text-success" style="padding-top: 15px;padding-bottom: 15px;color: #1b6ce5!important;">
        FAQ</h1>
    <div>
        <p>
            ¡Bienvenido a FitBum! Aquí encontrarás respuestas a algunas preguntas frecuentes sobre nuestros programas de entrenamiento y cómo funcionamos. Si no encuentras la información que necesitas, no dudes en ponerte en contacto con nuestro equipo de soporte.

        </p>
    </div>
    <div class="container">
        <div class="row">
            <div class="col-md-12 ">
                <div id="faqlist" class="accordion accordion-flush">
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-1">¿Qué es FitBum y qué servicios ofrece?
                            </button>
                        </h2>
                        <div id="content-accordion-1" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body"> FitBum es una plataforma especializada en el control de entrenamientos. Ofrecemos programas de entrenamiento personalizados diseñados para ayudarte a alcanzar tus metas de acondicionamiento físico. Nuestros servicios incluyen planes de ejercicio, seguimiento de progreso, asesoramiento nutricional y apoyo constante.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-2">¿Cómo funciona FitBum?
                            </button>
                        </h2>
                        <div id="content-accordion-2" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body"> Una vez que te registres en FitBum, deberás completar un cuestionario detallado sobre tu nivel de condición física, objetivos y preferencias de entrenamiento. Con esta información, nuestros expertos crearán un programa de entrenamiento personalizado adaptado a tus necesidades. Tendrás acceso a tu plan de entrenamiento a través de nuestra plataforma en línea, donde podrás ver ejercicios, realizar seguimiento de tu progreso y recibir recomendaciones adicionales.</p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-3">¿Necesito tener experiencia previa en el ejercicio para utilizar FitBum?
                            </button>
                        </h2>
                        <div id="content-accordion-3" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body"> No, no es necesario tener experiencia previa en el ejercicio para utilizar FitBum. Nuestros programas de entrenamiento están diseñados para adaptarse a diferentes niveles de condición física, desde principiantes hasta atletas experimentados. Al completar el cuestionario inicial, nos aseguraremos de considerar tu nivel de experiencia y adaptar el programa a tus capacidades individuales.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-4">¿Cómo se realiza el seguimiento de mi progreso?
                            </button>
                        </h2>
                        <div id="content-accordion-4" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body"> FitBum te ofrece diversas herramientas para realizar un seguimiento de tu progreso. Puedes registrar tus entrenamientos, monitorear tu rendimiento, llevar un diario de alimentos y hacer un seguimiento de tu peso y medidas. Además, podrás visualizar gráficos y estadísticas que te ayudarán a evaluar tus avances y ajustar tu programa de entrenamiento según sea necesario.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-5">¿Recibiré asesoramiento nutricional con FitBum?
                            </button>
                        </h2>
                        <div id="content-accordion-5" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body"> Sí, en FitBum entendemos que la nutrición juega un papel crucial en el éxito de tus entrenamientos. Por ello, nuestros programas también incluyen asesoramiento nutricional. Te proporcionaremos recomendaciones generales y sugerencias personalizadas para ayudarte a mantener una alimentación saludable y equilibrada que complemente tu rutina de ejercicios.
                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-6">¿Puedo comunicarme con un entrenador en caso de tener dudas?
                            </button>
                        </h2>
                        <div id="content-accordion-6" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body">
                                Sí, en FitBum entendemos que la nutrición juega un papel crucial en el éxito de tus entrenamientos. Por ello, nuestros programas también incluyen asesoramiento nutricional. Te proporcionaremos recomendaciones generales y sugerencias personalizadas para ayudarte a mantener una alimentación saludable y equilibrada que complemente tu rutina de ejercicios.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-7">
                                ¿Cuáles son los métodos de pago aceptados?
                            </button>
                        </h2>
                        <div id="content-accordion-7" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body">
                                Sí, en FitBum entendemos que la nutrición juega un papel crucial en el éxito de tus entrenamientos. Por ello, nuestros programas también incluyen asesoramiento nutricional. Te proporcionaremos recomendaciones generales y sugerencias personalizadas para ayudarte a mantener una alimentación saludable y equilibrada que complemente tu rutina de ejercicios.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-8">
                                ¿Recibiré asesoramiento nutricional con FitBum?

                            </button>
                        </h2>
                        <div id="content-accordion-8" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body">
                                Sí, en FitBum entendemos que la nutrición juega un papel crucial en el éxito de tus entrenamientos. Por ello, nuestros programas también incluyen asesoramiento nutricional. Te proporcionaremos recomendaciones generales y sugerencias personalizadas para ayudarte a mantener una alimentación saludable y equilibrada que complemente tu rutina de ejercicios.
                                flexibilidad de cancelar tu suscripción cuando lo desees. Simplemente ponte en contacto con nuestro equipo de soporte o visita la sección de configuración de tu cuenta para cancelar tu suscripción. Ten en cuenta que, dependiendo de los términos de tu suscripción, es posible que exista un período de aviso previo para la cancelación.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-9">
                                ¿Ofrecen garantía de resultados?
                            </button>
                        </h2>
                        <div id="content-accordion-9" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body">
                                Sí, en FitBum entendemos que la nutrición juega un papel crucial en el éxito de tus entrenamientos. Por ello, nuestros programas también incluyen asesoramiento nutricional. Te proporcionaremos recomendaciones generales y sugerencias personalizadas para ayudarte a mantener una alimentación saludable y equilibrada que complemente tu rutina de ejercicios.

                            </p>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <h2 class="accordion-header">
                            <button class="btn accordion-button collapsed" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#content-accordion-10">
                                ¿Qué medidas de privacidad y seguridad tienen implementadas?
                            </button>
                        </h2>
                        <div id="content-accordion-10" class="accordion-collapse collapse" data-bs-parent="#faqlist">
                            <p class="accordion-body">
                                Sí, en FitBum entendemos que la nutrición juega un papel crucial en el éxito de tus entrenamientos. Por ello, nuestros programas también incluyen asesoramiento nutricional. Te proporcionaremos recomendaciones generales y sugerencias personalizadas para ayudarte a mantener una alimentación saludable y equilibrada que complemente tu rutina de ejercicios.

                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div>
        <p>
            Esperamos que estas preguntas frecuentes hayan aclarado tus dudas sobre FitBum y nuestros servicios. Si tienes alguna otra pregunta, no dudes en contactarnos. Estamos aquí para ayudarte en tu viaje hacia una vida más saludable y en forma. ¡Comienza hoy mismo y descubre los beneficios de entrenar con FitBum!
        </p>
    </div>


</div>
</body>
</html>