<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">
<head>
    <title>Error404</title>

</head>
<body>

<div layout:fragment="content">

    <div class="pagetitle">

    </div><!-- End Page Title -->
    <div class="container-fluid">
        <div class="text-center mt-5">
            <div class="error mx-auto" data-text="404">
                <p class="m-0">404</p>
            </div>

            <p class="text-dark mb-5 lead" th:text="#{errorMessage}">Page Not Found</p>
            <img th:src="@{/assets/img/cat.gif}" alt="gato"><!--Esto se hace tambien con th:src-->

            <p class="text-black-50 mb-0" th:text="#{errorMessage2}">It looks like you found a glitch in the matrix...</p>



            <a  th:href="@{/}" th:text="#{errorMessage3}">
            ← Back to Dashboard</a>


        </div>
    </div>

</div>

</body>
</html>