<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{_layout}">

<body>

<div layout:fragment="content">

    <div class="pagetitle">
        <h1>Panel de Inicio</h1>
    </div><!-- End Page Title -->
    <div><a  href='/menu' >
        menu</a></div>
    <div><a  href='/login' >
        login</a></div>
    <div><a  href='/crearUsuario' >
        crear usuario</a></div>
    <div><a  href='/nuevoUsuario' >
        nuevo usuario</a></div>
    <div><a  href='/tutoriales' >
        tutoriales</a></div>
</div>

</body>
</html>