<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"

      >
<head>
    <title>ejercicios2</title>
</head>
<body>
<div layout:fragment="content">
    <div class="pagetitle">
        <h1>ejercicios2</h1>
    </div>

    <span th:text="${logeduser.nombre}"></span>
    <span th:text="${logeduser.avatar}"></span>
    <span th:text="${logeduser.apellido1}"></span>
    <span th:text="${logeduser.getId()}"></span>

    <form th:action="@{/prueba/save}" th:object="${logeduser}" th:method="post">
        <input type="hidden" th:field="*{id}">
        <input type="hidden" th:field="*{email}">
        <input type="hidden" th:field="*{password}">
        <input type="hidden" th:field="*{username}">
        <input type="hidden" th:field="*{active}">
        <input type="hidden" th:field="*{role}">
        <div class="form-group">
            <label for="name">Nombre:</label>
            <input type="text" class="form-control" id="name" name="name" th:field="*{avatar}" required>
        </div>
        <button type="submit" class="btn btn-primary">Guardar</button>

    </form>


</div>
</body>
</html>